<p id="notice"><%= notice %></p>

<p>
<strong>Shopping List Item:</strong>


</p>
<h2>People</h2>
<% if @person.any? %>
<table>
  <th>Name: </th>
  <th>budget: </th>

 <% @person.each do |person| %>

<tr><td><%= link_to person.name, person_path(person.list_id)  %> </td><td> <%= person.budget %> </td></td>


 <% end %>
</table>
<% else %>
<p>none available</p>
<% end %>
